.article {
    background-color: #212126;
}

.article__hero__gradient {
    height: 70vh;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.article__hero__gradient::after {
    background: linear-gradient(transparent 82%, #212126);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.article__hero__image {
    height: 70vh;
}

.article__hero__image img {
    animation: reveal-hero 1s;
    height: 100%;
    mask: url('../../assets/images/subtract.svg');
    mask-position: left bottom;
    mask-repeat: no-repeat;
    mask-size: cover;
    object-fit: cover;
    width: 100%;
}

@keyframes reveal-hero {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 100;
        transform: translateY(0);
    }
}

.article__content {
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    max-width: 1460px;
}

.article__content__table-of-contents,
.article__content__md {
    grid-column: 1 / 13;
}

.article__content__md p {
    color: #d5dce4;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    margin: 0;
    padding-top: 24px;
    text-align: justify;
}

.article__content h1 {
    color: #d5dce4;
    font-family: 'Streamster', Serif;
    font-size: 42px;
    font-weight: 300;
    margin: 0;
    padding-top: 48px;
    text-align: center;
}

.article__content h1::after {
    border-bottom: 1px solid #d5dce4;
    content: '';
    display: block;
    margin: 24px 0 24px 50%;
    position: relative;
    transform: translateX(-50%);
    width: 66px;
}

@media (min-width: 768px) {
    .article__content__table-of-contents {
        grid-column: 1 / 3;
    }

    .article__content__md {
        grid-column: 4 / 12;
    }

    .article__content__md p {
        font-size: 20px;
    }
}

/* Drop cap styles */
/* TODO: Should become second p after API changes */
.article__content__md p:nth-child(3):first-letter {
    background-clip: text;
    background-image: linear-gradient(30deg, #829df3, #81c9a0);
    color: transparent;
    float: left;
    font-family: 'Blanka', Serif;
    font-size: 5.125em;
    line-height: 0.8125em;
    padding-bottom: 0.125em;
    margin-right: 0.125em;
}










/* ! Remove after API change */
.article__content__md p:first-child {
    display: none;
}
