.article {
  background-color: var(--talelio-page-bg-dark);
}

.article__hero__gradient {
  height: 70vh;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.article__hero__gradient::after {
  background: linear-gradient(transparent 82%, var(--talelio-page-bg-dark));
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}

.article__hero__image {
  height: 70vh;
}

.article__hero__image img {
  animation: reveal-hero 1s;
  height: 100%;
  mask: url('../../assets/images/article-hero-mask.svg');
  mask-position: left bottom;
  mask-repeat: no-repeat;
  mask-size: cover;
  object-fit: cover;
  width: 100%;
}

@keyframes reveal-hero {
  0% {
    opacity: 0;
    transform: translateY(-2.5em);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

.article__images-notice {
  color: var(--talelio-text-gray);
  /* TODO: Figure out design for images notice on mobile screens */
  display: none;
  font-family: 'JetBrains ExtraLight', monospace;
  font-size: 0.75rem;
  margin: 0;
}

.article__details {
  display: flex;
  justify-content: center;
  margin: 7.5em 0 5em 0;
}

.article__details > div {
  display: inline-flex;
  flex-direction: column;
}

.article__details__meta {
  margin: 0 auto;
  margin-top: 2.875em;
}

.article__details__meta__created-at,
.article__details__meta__author {
  color: var(--talelio-text-gray);
  font-family: JetBrains, monospace;
  font-size: 1.125rem;
}

.article__details__title {
  color: var(--talelio-neon-blue);
  font-family: Streamster, Serif;
  font-size: 6.375rem;
  font-weight: 100;
  margin: 0 0 20px 0;
  text-align: center;
  text-shadow:
  0 0 20px var(--talelio-neon-blue-glow),
  0 0 20px var(--talelio-neon-blue-glow),
  0 0 40px var(--talelio-neon-blue-glow);
}

.article__content {
  column-gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  padding: 0 1.375em 0 1.375em;
  max-width: 91.25em;
}

.article__content__toc {
  grid-column: 1 / 13;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
}

.article__content__toc h2 {
  color: var(--talelio-text-white);
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 1.25em 0;
}

.article__content__toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* TOC heading */
.article__content__toc ul li {
  font-size: 0.875rem;
  margin-bottom: 0.5em;
}

.article__content__toc ul li a {
  color: var(--talelio-text-white);
  line-height: 1.5em;
  text-decoration: none;
}

.article__content__toc ul li a:hover {
  color: var(--talelio-neon-blue);
}

/* TOC subheading */
.article__content__toc li ul {
  margin-top: 0.5em;
}

.article__content__md {
  grid-column: 1 / 13;
}

.article__content__md h2 {
  color: var(--talelio-text-white);
  font-size: 1.375rem;
  font-weight: 500;
  margin: 0;
  padding-top: 1.5em;
}

.article__content__md p,
.article__content__md ul li,
.article__content__md ol li {
  color: var(--talelio-text-white);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
  margin: 0;
  padding-top: 1.5em;
}

.article__content__md ul,
.article__content__md ol {
  margin: 0;
}

.article__content__md ul li:not(:first-child),
.article__content__md ol li:not(:first-child) {
  padding-top: 0;
}

.article__content__md p img {
  width: calc(100% + 2.75em);
  margin-left: -1.375em;
}

/* Table */
.article__content__md table {
  border-spacing: 0;
  color: var(--talelio-text-white);
  font-size: 0.875rem;
  line-height: 1.7;
  padding-top: 1.714285em;
  text-align: center;
  width: 100%;
}

.article__content__md thead tr th {
  border: solid 1px var(--talelio-text-gray);
  border-top: solid 2px var(--talelio-text-gray);
  font-weight: 500;
}

.article__content__md thead tr th:first-of-type {
  border-left: solid 2px var(--talelio-text-gray);
  border-top-left-radius: 8px;
}

.article__content__md thead tr th:last-of-type {
  border-right: solid 2px var(--talelio-text-gray);
  border-top-right-radius: 8px;
}

.article__content__md tbody tr td {
  border: solid 1px var(--talelio-text-gray);
  border-bottom: none;
  padding: 0.25em 0.375em 0.25em 0.375em;
  text-align: left;
}

.article__content__md tbody tr td:first-of-type {
  border-left: solid 2px var(--talelio-text-gray);
}

.article__content__md tbody tr td:last-of-type {
  border-right: solid 2px var(--talelio-text-gray);
}

.article__content__md tbody tr:last-of-type td {
  border-bottom: solid 2px var(--talelio-text-gray);
}

.article__content__md tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
}

.article__content__md tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
}

.article__content__md tbody tr td s {
  text-decoration-color: var(--talelio-text-red);
  text-decoration-thickness: 2px;
}

.article__content__md a {
  color: var(--talelio-text-white);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.375em;
}

.article__content__md a:hover {
  box-shadow: inset 0 -0.5em 0 0 var(--talelio-neon-blue-glow-highlight);
  text-decoration: none;
}

.article__content__md hr {
  border-color: var(--talelio-text-white);
  margin: 0 auto;
  margin-bottom: 1.5em;
  margin-top: 3em;
  width: 66px;
}

/* highlight.js */
.article__content__md :global(.hljs) {
  background: transparent;
  border-left: solid 2px var(--talelio-loading);
  font-family: 'JetBrains ExtraLight', monospace;
  font-size: 1rem;
  margin-top: 1.5em;
  padding: 0 0 0 18px;
}

.article__content__md pre {
  margin: 0;
}

.article__content h1 {
  color: var(--talelio-text-white);
  font-size: 1.625rem;
  font-weight: 300;
  margin: 0;
  padding-top: 48px;
  text-align: center;
}

.article__content h1::after {
  border-bottom: 1px solid var(--talelio-text-white);
  content: '';
  display: block;
  margin: 24px 0 24px 50%;
  position: relative;
  transform: translateX(-50%);
  width: 66px;
}

.article__content strong {
  font-weight: 500;
}

/* Desktop breakpoint */
@media (min-width: 48em) {
  .article__images-notice {
    display: inherit;
    margin: 2.125em 2.125em 0 0;
    text-align: right;
  }

  .article__details__meta {
    margin: 0;
  }
  
  .article__content {
    padding: 0;
  }
  
  .article__content__toc {
    grid-column: 1 / 4;
    height: calc(100vh - 6.25em); /* Footer hight + top value */
    margin: 3em 1.375em 0 0.75em;
    overflow: auto;
    position: sticky;
    text-align: left;
    top: 2em;
  }

  .article__content__toc :global(.toc) {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }

  .article__content__toc :global(.toc):hover {
    opacity: 1;
  }

  .article__content__toc ul {
    padding-right: 0.5em;
  }

  /* TOC subheading */
  .article__content__toc li ul li {
    margin-left: 0.75em;
  }
  
  .article__content__md {
    grid-column: 4 / 10;
  }
  
  .article__content__md p,
  .article__content__md ul li,
  .article__content__md ol li,
  .article__content__md :global(.hljs) {
    font-size: 1.25rem;
    text-align: justify;
  }

  .article__content__md p img {
    width: 114%;
    margin-left: -7%;
  }

  /* Table */
  .article__content__md table {
    padding: 2.89286em 0 0.75em 0;
  }

  .article__content__md hr {
    margin-bottom: 2.125em;
    margin-top: 4em;
  }
}

/* Drop cap styles */
.article__content__md > div:first-child p:first-child::first-letter {
  background-clip: text;
  background-image: linear-gradient(30deg, #829df3, #81c9a0);
  color: transparent;
  float: left;
  font-family: 'Blanka', Serif;
  font-size: 5.125em;
  line-height: 0.8125em;
  padding-bottom: 0.125em;
  margin-right: 0.125em;
}
