/* Consider targeting img with specific class */
img {
  height: 100%;
  width: 100%;
}

.article {
  column-gap: 0.5em;
  display: grid;
  font-family: 'Merriweather', Serif;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
}

.article__title {
  font-family: 'Streamster', Serif;
  font-size: 2.5rem;
  font-weight: 400;
  grid-column: 2 / 12;
  margin-top: 1.125em;
  text-align: center;
}

.article__meta {
  display: flex;
  flex-direction: column;
  grid-column: span 12;
  justify-content: center;
  margin: 0.75rem 0 1.5rem 0;
}

.article__meta p {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.article__meta p:first-child {
  margin-bottom: 0.25rem;
}

.article__content {
  column-gap: 0.5em;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
}

.article__content p {
  font-size: 1rem;
  grid-column: 2 / 12;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.article__content p:nth-child(3):first-letter {
  float: left;
  font-family: 'Blanka', Serif;
  font-size: 5.125em;
  line-height: 0.8125em;
  padding-bottom: 0.125em;
  margin-right: 0.125em;
}

.article__content h1 {
  font-family: 'Streamster', Serif;
  font-size: 2.125rem;
  font-weight: 400;
  grid-column: span 12;
  margin-bottom: 1.5rem;
  text-align: center;
}

.article__content h1::after {
  border-bottom: 1px solid;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-1em);
  width: 2em;
}

@media (min-width: 62em) { /* 992 px */
  .article {
    max-width: 86em;
  }
  
  .article__content p {
    grid-column: 4 / 10;
  }
}

:global(p.article__content__hero-image) {
  grid-column: span 12;
  margin-bottom: 0;
}

:global(p.article__content__hero-image-credits) {
  font-size: 0.75em;
  grid-column: span 12;
  line-height: normal;
  margin-top: 0.5rem;
}
