/* Consider targeting img with specific class */
img {
  height: 100%;
  width: 100%;
}

.article {
  column-gap: 0.5em;
  display: grid;
  font-family: 'Merriweather', Serif;
  grid-template-columns: repeat(12, 1fr);
}

.article__title {
  font-family: 'Streamster', Serif;
  font-size: 2.5rem;
  font-weight: 400;
  grid-column: span 12;
  text-align: center;
}

.article__meta {
  display: flex;
  flex-direction: column;
  grid-column: span 12;
  justify-content: center;
}

.article__meta p {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.article__content {
  column-gap: 0.5em;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
}

.article__content p {
  font-size: 1rem;
  grid-column: 2 / 12;
  text-align: justify;
}

:global(p.article-image) {
  grid-column: span 12;
}

.article__content h1 {
  font-family: 'Streamster', Serif;
  font-size: 2.125rem;
  font-weight: 400;
  grid-column: span 12;
  text-align: center;
}

.article__content h1::after {
  border-bottom: 1px solid;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-1em);
  width: 2em;
}





/* ! */