.article-status-bar {
  background-color: #fff;
  /* ! Adjust box shadow */
  /* ! */
  bottom: 0;
  height: var(--article-status-bar-height);
  position: fixed;
  transform: translateY(var(--article-status-bar-height));
  /* ! Set a max-width of desktop width */
  width: 100%;
}

@keyframes show {
  100% {
    box-shadow: 0 0 0.125em 0.125em rgb(0 0 0 / 12%);
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--article-status-bar-height));
  }
}

.article-status-bar--visible {
  animation: show 0.5s forwards;
}

.article-status-bar--hidden {
  animation: hide 0.5s forwards;
}
