.article-reading-position-indicator-bar {
    background-color: white; /* Define globally */
    bottom: 0;
    height: 40px; /* Define globally */
    position: fixed;
    transform: translateY(40px); /* Define globally */
    width: 100%;
}

@keyframes show {
    100% {
        transform: translateY(0);
    }
}

@keyframes hide {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px); /* Define globally */
    }
}

.article-reading-position-indicator-bar--reappear {
    animation: hide 0.5s forwards;
}

.article-reading-position-indicator-bar--visible {
    animation: show 0.5s forwards;
}

.article-reading-position-indicator-bar--hidden {
    animation: hide 0.5s forwards;
}
