.grid-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 43em) {
  .s-grid-item__col-span-1 { grid-column: span 1 ;}
  .s-grid-item__col-span-2 { grid-column: span 2 ;}
  .s-grid-item__col-span-3 { grid-column: span 3 ;}
  .s-grid-item__col-span-4 { grid-column: span 4 ;}
  .s-grid-item__col-span-5 { grid-column: span 5 ;}
  .s-grid-item__col-span-6 { grid-column: span 6 ;}
  .s-grid-item__col-span-7 { grid-column: span 7 ;}
  .s-grid-item__col-span-8 { grid-column: span 8 ;}
  .s-grid-item__col-span-9 { grid-column: span 9 ;}
  .s-grid-item__col-span-10 { grid-column: span 10 ;}
  .s-grid-item__col-span-11 { grid-column: span 11 ;}
  .s-grid-item__col-span-12 { grid-column: span 12 ;}
}

@media (min-width: 62em) {
  .m-grid-item__col-span-1 { grid-column: span 1 ;}
  .m-grid-item__col-span-2 { grid-column: span 2 ;}
  .m-grid-item__col-span-3 { grid-column: span 3 ;}
  .m-grid-item__col-span-4 { grid-column: span 4 ;}
  .m-grid-item__col-span-5 { grid-column: span 5 ;}
  .m-grid-item__col-span-6 { grid-column: span 6 ;}
  .m-grid-item__col-span-7 { grid-column: span 7 ;}
  .m-grid-item__col-span-8 { grid-column: span 8 ;}
  .m-grid-item__col-span-9 { grid-column: span 9 ;}
  .m-grid-item__col-span-10 { grid-column: span 10 ;}
  .m-grid-item__col-span-11 { grid-column: span 11 ;}
  .m-grid-item__col-span-12 { grid-column: span 12 ;}
}

@media (min-width: 82em) {
  .l-grid-item__col-span-1 { grid-column: span 1 ;}
  .l-grid-item__col-span-2 { grid-column: span 2 ;}
  .l-grid-item__col-span-3 { grid-column: span 3 ;}
  .l-grid-item__col-span-4 { grid-column: span 4 ;}
  .l-grid-item__col-span-5 { grid-column: span 5 ;}
  .l-grid-item__col-span-6 { grid-column: span 6 ;}
  .l-grid-item__col-span-7 { grid-column: span 7 ;}
  .l-grid-item__col-span-8 { grid-column: span 8 ;}
  .l-grid-item__col-span-9 { grid-column: span 9 ;}
  .l-grid-item__col-span-10 { grid-column: span 10 ;}
  .l-grid-item__col-span-11 { grid-column: span 11 ;}
  .l-grid-item__col-span-12 { grid-column: span 12 ;}
}
